:root {
    --black: #FF000000;
    --primary: #FFFFFF;
    --Red: #df4759;

    /* Green */
    --Chat_receive_green: #75FBBA;
    --Yellow_Green: #30FF00;
    --Green: #0eaf57;
    --DarkGreen: #0c4d00;

    /* Yellow */
    --Yellow: #e7c14d;

    /* Blue */
    --Link_Blue: #0000EE;
    --primaryWhiteOrBlack: #FFFFFFFF;
    --primaryGrayOrDarkGray: #F1F1F1;
    --secondaryWhiteOrBlack: #000000;
    --secondaryGrayOrDarkGray: #9C9C9C;

    /* Gray */
    --lightGray: #DADADA;
    --ShimmerLightGray: #E6E6E6;
    --darkGray: #696969;
    --emoji_gray70: #696969;

    /* Indian Flag Color */
    --India_saffron: #FF9933;
    --white: #FFFFFF;
    --India_green: #138808;

    /* ProgressBar Color */
    --Progressbar: #30FF00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(21, 255, 0, 0.6)), url(/Drawables/background.jpg);
    background-size: cover;
    background-position: center;
}

.form-box {
    width: 90%;
    max-width: 450px;
    min-width: 350px;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgba(237, 255, 241, 0.6);
    padding: 50px 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: -2px 2px 15px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #000000; */
}

.chatran {
    width: 50px;
    height: 50px;
    background: url(/Drawables/ic_chatran_main_logo.svg);
    margin: 5px;
}

.form-box h1 {
    margin: 20px auto 0px 5px;
    font-size: 30px;
    color: var(--Green);
    text-shadow: var(--DarkGreen);
    transition: all 0.5s;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.underline {
    width: 30px;
    height: 4px;
    background-color: var(--Green);
    margin: 10px auto 40px auto;
    border-radius: 2px;
    transition: transform 0.5s;
    transform: translateX(30px);
}

.input-field {
    background: #fdfffb;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-height: 60px;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 1px 1px 5px var(--secondaryGrayOrDarkGray);
}

.input-field:hover {
    box-shadow: 2px 2px 10px var(--Green);
    color: var(--Green);
}

.input-field input {
    width: 100%;
    background: transparent;
    border: 0px;
    outline: 0px;
    padding: 18px 15px;
    color: var(--primaryWhiteOrBlack);
}

.input-field i:hover {
    color: var(--Green);
}

.input-field i {
    margin-left: 20px;
    color: var(--primaryWhiteOrBlack);
}

.link {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    color: var(--darkGray);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}

.btn_field {
    width: 100%;
    margin-top: 20px;
}

.btn_field button {
    height: 50px;
    width: 100%;
    background-color: var(--Green);
    color: var(--secondaryWhiteOrBlack);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s;
}

.btn_field button:hover {
    font-size: 17px;
    background-color: var(--DarkGreen);
}

.google_button{
    max-height: 60px;
    border-radius: 50px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--darkGray);
    background-color: var(--secondaryWhiteOrBlack);
}

.google_button img{
    margin: 5px 10px 5px 10px;
    width: 20px;
    height: 20px;
}

.google_button span{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: var(--darkGray);
}

.google_button:hover{
    box-shadow: 2px 2px 10px var(--darkGray);
}