:root {
    --black: #FF000000;
    --primary: #000000;
    --Red: #df4759;

    /* Green */
    --Chat_receive_green: #64E1A4;
    --Yellow_Green: #30FF00;
    --Green: #0eaf57;

    /* Yellow */
    --Yellow: #E7C14D;

    /* Blue */
    --Link_Blue: #0000EE;
    --primaryWhiteOrBlack: #000000;
    --primaryGrayOrDarkGray: #242424;
    --secondaryWhiteOrBlack: #FFFFFF;
    --secondaryGrayOrDarkGray: #DCDCDC;

    /* Gray */
    --lightGray: #3A3A3A;
    --ShimmerLightGray: #E6E6E6;
    --darkGray: #696969;
    --emoji_gray70: #696969;

    /* Indian Flag Color */
    --India_saffron: #FF9933;
    --white: #FFFFFF;
    --India_green: #138808;

    /* ProgressBar Color */
    --Progressbar: #30FF00;
}